<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:os-core="http://www.openspaces.org/schema/core"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd
        http://www.openspaces.org/schema/core
        http://www.openspaces.org/schema/9.5/core/openspaces-core.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.griddynamics.mybank"/>
    <mvc:annotation-driven />

    <bean id="httpStatusEntryPoint" class="org.springframework.security.web.authentication.HttpStatusEntryPoint">
        <constructor-arg name="httpStatus" value="UNAUTHORIZED"/>
    </bean>
    <security:http
            realm="Protected API"
            use-expressions="true"
            auto-config="false"
            create-session="stateless"
            entry-point-ref="httpStatusEntryPoint"
            authentication-manager-ref="authenticationManager">
        <security:custom-filter ref="authenticationTokenProcessingFilter" position="FORM_LOGIN_FILTER" />
        <security:intercept-url pattern="/rest/auth" access="permitAll" />
        <security:intercept-url pattern="/rest/**" access="hasRole('ROLE_ADMIN')" />
        <security:csrf disabled="true" />
    </security:http>

    <security:authentication-manager id="authenticationManager">
        <security:authentication-provider>
            <security:user-service id="userService">
                <security:user name="jimi" password="jimispassword" authorities="ROLE_USER, ROLE_ADMIN" />
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

    <bean id="propertiesConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"/>
    <os-core:space id="space" url="jini://*/*/space" lookup-timeout="20000"/>
    <os-core:local-tx-manager id="jiniTransactionManager" space="space"/>
    <tx:annotation-driven transaction-manager="jiniTransactionManager"/>
    <os-core:giga-space id="gigaSpace" space="space"/>
</beans>
